In [5]:
import pandas
# read our datya from data folder called bank.csv
data = pandas.read_csv("data/Mall_Customers.csv")
data

     CustomerID  Gender  Age  Annual Income  Spending Score
0             1    Male   19           15.0            39.0
1             2    Male   21           15.0            81.0
2             3  Female   20           16.0             6.0
3             4  Female   23           16.0            77.0
4             5  Female   31           17.0            40.0
..          ...     ...  ...            ...             ...
195         196  Female   35          120.0            79.0
196         197  Female   45          126.0             NaN
197         198    Male   32          126.0            74.0
198         199    Male   32          137.0            18.0
199         200    Male   30          137.0            83.0

[200 rows x 5 columns]

In [6]:
# check if our data has empties
data.isnull().sum()

CustomerID        0
Gender            4
Age               0
Annual Income     1
Spending Score    3
dtype: int64

In [8]:
# we clean our data, replace the unkmowm for gender
data["Gender"].fillna("unknown", inplace=True)
data.isnull().sum()

CustomerID        0
Gender            0
Age               0
Annual Income     1
Spending Score    3
dtype: int64

In [9]:
# lets clean the data for annual income replace empties with the mean
data["Annual Income"].mean()

60.35678391959799

In [10]:
mean = 60.35678391959799

data["Annual Income"].fillna( mean, inplace=True)
data.isnull().sum()

/tmp/ipykernel_4713/1572373272.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Annual Income"].fillna( mean, inplace=True)

CustomerID        0
Gender            0
Age               0
Annual Income     0
Spending Score    3
dtype: int64

In [12]:
SpendingScore = data["Spending Score"].mean()
data["Spending Score"].fillna( SpendingScore, inplace=True)
data.isnull().sum()

/tmp/ipykernel_4713/48569446.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data["Spending Score"].fillna( SpendingScore, inplace=True)

CustomerID        0
Gender            0
Age               0
Annual Income     0
Spending Score    0
dtype: int64

In [14]:
# splitting the data into segemnets or clusters
# split data
array = data.values
X = array[: ,2: 5]
X

array([[19, 15.0, 39.0],
       [21, 15.0, 81.0],
       [20, 16.0, 6.0],
       [23, 16.0, 77.0],
       [31, 17.0, 40.0],
       [22, 17.0, 76.0],
       [35, 18.0, 6.0],
       [23, 18.0, 94.0],
       [64, 19.0, 3.0],
       [30, 19.0, 72.0],
       [67, 19.0, 14.0],
       [35, 19.0, 99.0],
       [58, 20.0, 15.0],
       [24, 20.0, 77.0],
       [37, 20.0, 13.0],
       [22, 20.0, 79.0],
       [35, 21.0, 35.0],
       [20, 21.0, 66.0],
       [52, 23.0, 29.0],
       [35, 23.0, 98.0],
       [35, 24.0, 35.0],
       [25, 24.0, 73.0],
       [46, 25.0, 5.0],
       [31, 25.0, 73.0],
       [54, 28.0, 14.0],
       [29, 28.0, 82.0],
       [45, 28.0, 32.0],
       [35, 28.0, 61.0],
       [40, 29.0, 31.0],
       [23, 29.0, 87.0],
       [60, 30.0, 4.0],
       [21, 30.0, 73.0],
       [53, 33.0, 4.0],
       [18, 33.0, 92.0],
       [49, 33.0, 14.0],
       [21, 33.0, 81.0],
       [42, 34.0, 17.0],
       [30, 34.0, 73.0],
       [36, 37.0, 26.0],
       [20, 37.0, 75.0],
       [65, 38.0, 35.0],
       [24, 38.0, 92.0],
       [48, 39.0, 36.0],
       [31, 39.0, 61.0],
       [49, 39.0, 28.0],
       [24, 39.0, 65.0],
       [50, 40.0, 55.0],
       [27, 40.0, 47.0],
       [29, 40.0, 42.0],
       [31, 40.0, 42.0],
       [49, 42.0, 52.0],
       [33, 42.0, 60.0],
       [31, 43.0, 54.0],
       [59, 43.0, 60.0],
       [50, 43.0, 45.0],
       [47, 43.0, 41.0],
       [51, 44.0, 50.0],
       [69, 44.0, 46.0],
       [27, 46.0, 51.0],
       [53, 46.0, 46.0],
       [70, 46.0, 56.0],
       [19, 46.0, 55.0],
       [67, 47.0, 52.0],
       [54, 47.0, 59.0],
       [63, 48.0, 51.0],
       [18, 48.0, 59.0],
       [43, 48.0, 50.0],
       [68, 48.0, 48.0],
       [19, 48.0, 59.0],
       [32, 48.0, 47.0],
       [70, 49.0, 55.0],
       [47, 49.0, 42.0],
       [60, 50.0, 49.0],
       [60, 50.0, 56.0],
       [59, 54.0, 47.0],
       [26, 54.0, 54.0],
       [45, 54.0, 53.0],
       [40, 54.0, 48.0],
       [23, 54.0, 52.0],
       [49, 54.0, 42.0],
       [57, 54.0, 51.0],
       [38, 54.0, 55.0],
       [67, 54.0, 41.0],
       [46, 54.0, 44.0],
       [21, 54.0, 57.0],
       [48, 54.0, 46.0],
       [55, 57.0, 58.0],
       [22, 57.0, 55.0],
       [34, 58.0, 60.0],
       [50, 58.0, 46.0],
       [68, 59.0, 55.0],
       [18, 59.0, 41.0],
       [48, 60.0, 49.0],
       [40, 60.0, 40.0],
       [32, 60.0, 42.0],
       [24, 60.0, 52.0],
       [47, 60.0, 47.0],
       [27, 60.0, 50.0],
       [48, 61.0, 42.0],
       [20, 61.0, 49.0],
       [23, 62.0, 41.0],
       [49, 62.0, 48.0],
       [67, 62.0, 59.0],
       [26, 62.0, 55.0],
       [49, 62.0, 56.0],
       [21, 62.0, 42.0],
       [66, 63.0, 50.0],
       [54, 63.0, 46.0],
       [68, 63.0, 43.0],
       [66, 63.0, 48.0],
       [65, 63.0, 52.0],
       [19, 63.0, 54.0],
       [38, 64.0, 42.0],
       [19, 64.0, 46.0],
       [18, 65.0, 48.0],
       [19, 65.0, 50.0],
       [63, 65.0, 43.0],
       [49, 65.0, 59.0],
       [51, 67.0, 43.0],
       [50, 67.0, 57.0],
       [27, 67.0, 56.0],
       [38, 67.0, 40.0],
       [40, 69.0, 58.0],
       [39, 69.0, 91.0],
       [23, 70.0, 29.0],
       [31, 70.0, 77.0],
       [43, 71.0, 35.0],
       [40, 71.0, 95.0],
       [59, 71.0, 11.0],
       [38, 71.0, 75.0],
       [47, 71.0, 9.0],
       [39, 71.0, 75.0],
       [25, 72.0, 34.0],
       [31, 72.0, 71.0],
       [20, 73.0, 5.0],
       [29, 73.0, 88.0],
       [44, 73.0, 7.0],
       [32, 73.0, 73.0],
       [19, 74.0, 10.0],
       [35, 74.0, 72.0],
       [57, 75.0, 5.0],
       [32, 75.0, 93.0],
       [28, 76.0, 40.0],
       [32, 76.0, 87.0],
       [25, 77.0, 12.0],
       [28, 77.0, 97.0],
       [48, 77.0, 36.0],
       [32, 77.0, 74.0],
       [34, 78.0, 22.0],
       [34, 78.0, 50.3248730964467],
       [43, 78.0, 17.0],
       [39, 78.0, 88.0],
       [44, 78.0, 20.0],
       [38, 78.0, 76.0],
       [47, 78.0, 16.0],
       [27, 78.0, 89.0],
       [37, 78.0, 1.0],
       [30, 78.0, 78.0],
       [34, 78.0, 1.0],
       [30, 78.0, 73.0],
       [56, 79.0, 35.0],
       [29, 79.0, 83.0],
       [19, 81.0, 5.0],
       [31, 81.0, 93.0],
       [50, 85.0, 26.0],
       [36, 85.0, 75.0],
       [42, 86.0, 20.0],
       [33, 86.0, 95.0],
       [36, 87.0, 27.0],
       [32, 87.0, 63.0],
       [40, 87.0, 13.0],
       [28, 87.0, 75.0],
       [36, 87.0, 10.0],
       [36, 87.0, 92.0],
       [52, 88.0, 13.0],
       [30, 88.0, 86.0],
       [58, 88.0, 15.0],
       [27, 88.0, 69.0],
       [59, 93.0, 14.0],
       [35, 93.0, 90.0],
       [37, 97.0, 32.0],
       [32, 97.0, 86.0],
       [46, 98.0, 15.0],
       [29, 98.0, 88.0],
       [41, 99.0, 39.0],
       [30, 99.0, 97.0],
       [54, 101.0, 24.0],
       [28, 60.35678391959799, 68.0],
       [41, 103.0, 17.0],
       [36, 103.0, 85.0],
       [34, 103.0, 23.0],
       [32, 103.0, 69.0],
       [33, 113.0, 50.3248730964467],
       [38, 113.0, 91.0],
       [47, 120.0, 16.0],
       [35, 120.0, 79.0],
       [45, 126.0, 50.3248730964467],
       [32, 126.0, 74.0],
       [32, 137.0, 18.0],
       [30, 137.0, 83.0]], dtype=object)